<div class="jumbotron-mt-4">
    <h1 class="display-4">Gwen</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
<hr class="my-4">
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Magni ratione cupiditate at natus nobis iusto pariatur 
    provident cum deserunt voluptatum eveniet rerum optio, 
    laudantium itaque, consectetur praesentium nihil ad animi!</p>

    <a href="http://mi.pagina.com" class="btn btn-primary btn-lg">click!</a>

</div>