* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #023047;
  color:  white;
  padding-left:2em ;

}

footer{
  background-color: #FB8500;
  color:  #FB8500;
  position:fixed;
  left:0px;
  bottom:0px;
  height:10em;
  width:100%;
}

