#form {
    display: none
}

.formulario {
    float: right;
    margin-left: 20px;
}

.container {
    max-width: 1400px;
}

.lista {
    float: left;
}

.lista table tr:nth-child(even) {
    background-color: #ece4e4;
}

.lista table td:first-child {
    width: 4em;
}

.lista table td:nth-child(9) {
    width: 5em;
}

.lista table td:nth-child(8) {
    width: 5em;
}

.lista table td:nth-child(5) {
    width: 12em;
}

.lista table {
    border: 1px solid black;
}

.encabezado {
    background-color: #023047;
    color: white;
    border-radius: 3px;
}

th,
td {
    padding: 0.4em;
    margin: 0em;
}